.form-input{

	&.has-error{
		input{
			border-color: $red;
		}
	}
	.help-block{
		display: block;
		color: $red;
		font-size: 0.8em;
		margin-top: 5px;
	}
	label{
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}
	input{
		width: 100%;
		border: solid 1px $gray;
		padding: 5px;
		font-size: 1rem;
	}
	.forgot-link{
		display: inline-block;
		color: $font-color;
		text-decoration: none;
		margin-left: 10px;
		font-size: 0.8em;
	}
}